{% extends 'base.html.twig' %}

{% block title %}SemperVirens - Member
{% endblock %}


{% block body %}
	{% if not app.user %}
		<div class="example-wrapper">
			<p>You are not logged in yet:</p>
			<ul>
				<li>Click
					<a href="{{ path('app_login')}}">
						here</a>
					to log in</li>
				<li>Click
					<a href="{{ path('app_register')}}">here</a>
					to register</li>
			</ul>
		</div>
	{% else %}
		<div class="jumbotron">
			<h1 class="display-3">Profile of {{member.pseudo|upper}}</h1>
			{% if not member.typeProfil %}
				<p class="lead">{{member.pseudo|capitalize}}
					has not taken the test yet</p>
			{% else %}
				<p class="lead">{{member.pseudo}}
					is a
					{{member.typeProfil.nom}}</p>
			{% endif %}
			<p>Send a message to {{member.pseudo}}</p>
			{{form_start(formulaire)}}
			{{form_widget(formulaire)}}
			<input type="submit" class="btn btn-primary" value="envoyer"/>
			<input type="hidden" name="pseudo" value="{{member.pseudo}}">
			{{form_end(formulaire)}}
		</div>
	{% endif %}
{% endblock %}
