{% extends 'base.html.twig' %}

{% block title %}SemperVirens - Challenges
{% endblock %}

{% block body %}
	<div class="container">
		<h1>You can do it !</h1>
		{% if not acceptedChallenge %}
			<div class="jumbotron bg-danger">
				<h2 class="display-3">Ready for your next challenge ?</h2>
				<p class="lead">{{nextChallenge.challenge.nom}}</p>
				<hr class="my-4">
				<p>{{nextChallenge.challenge.description}}</p>
				<p class="lead">
					<form action="{{path('challenges')}}" method="post">
						<input type="hidden" name="status" value="accepted">
						<input type="hidden" name="challenge" value="{{nextChallenge.challenge.id}}">
						<button class="btn btn-primary">Accept !</button>
					</form>
				</p>
			</div>

		{% else %}
			<div class="jumbotron bg-success">
				<h2 class="display-3">Your current challenge is:</h2>
				<p class="lead">{{acceptedChallenge.challenge.nom}}</p>
				<hr class="my-4">
				<p>{{acceptedChallenge.challenge.description}}</p>
				<p class="lead">
					<form action="{{path('challenges')}}" method="post">
						<input type="hidden" name="status" value="done">
						<input type="hidden" name="challenge" value="{{acceptedChallenge.challenge.id}}">
						<button class="btn btn-primary m-2">Completed !</button>
					</form>
					<form action="{{path('challenges')}}" method="post">
						<input type="hidden" name="status" value="todo">
						<input type="hidden" name="challenge" value="{{acceptedChallenge.challenge.id}}">
						<button class="btn btn-primary m-2">Cancel</button>
					</form>
				</p>
			</div>


		{% endif %}
		<div id="challengesPagination">
			<h2>View all available challenges:</h2>
			<div id="allChallenges" class="row">
				{% for challenge in paginationChallenges %}
					<div class="card border-primary m-3" style="max-width: 20rem;">
						<div class="card-header">{{challenge.categorie.nom}}</div>
						<div class="card-body">
							<h4 class="card-title">{{challenge.nom}}</h4>
							<p class="card-text">{{challenge.description}}</p>
							{% if not acceptedChallenge %}
								<hr>
								<form action="{{path('challenges')}}" method="post">
									<input type="hidden" name="challenge" value="{{challenge.id}}">
									<button class="badge badge-secondary">Accept !</button>
								</form>
							{% endif %}
						</div>
					</div>

				{% endfor %}
			</div>
			<div class="navigation">{{knp_pagination_render(paginationChallenges)}}</div>
		</div>

	</div>

{% endblock %}
