{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
{% if not app.user %}
        <div class="example-wrapper">
            <p>You are not logged in yet:</p>
            <ul>
                <li>Click <a href="{{ path('app_login')}}"> here</a> to log in</li>
                <li>Click <a href="{{ path('app_register')}}">here</a> to register</li>
            </ul>
        </div>
{% else %}

<h1>Check your messages here !</h1>
    <div class="example-wrapper container">
       <div class="row">
        {% if not sendmessages %}
        <p>You have not received any message yet</p>
       {% else %}
       <div class="col-6">
           <h2>Messages received</h2>
           {% for sendmessage in sendmessages %}
           <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
               <div class="toast-header">
               <strong class="mr-auto">Message from {{sendmessage.fromUser.pseudo}}</strong>
               {% if not sendmessage.vu %}
                        <span class='badge badge-danger badge-counter'>New</span><form action="{{path('message_read')}}" action="post"><input type="hidden" name="message" value="{{sendmessage.id}}"><button class="badge badge-pill badge-danger">&times;</button></form></small>

               {% endif %}
               </div>
               <div class="toast-body">
                   <p> {{sendmessage.texte}}</p>
               </div>
           </div>
           {% endfor %}
       </div>
       {% endif %}

            {% if not messages %}
            <p>You have not sent any message yet</p>
            {% else %}
        
            <div class="col-6">
                <h2>Messages sent</h2>
                {% for message in messages %}
                <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="mr-auto">Message for {{message.toUser.pseudo}}</strong>
                    </div>
                    <div class="toast-body">
                        <p> {{message.texte}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        
            
    </div>
        
        
    </div>
{% endif %}
{% endblock %}
